{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete the following item?</p>
    <ul>
      {% for field, value in item_details.items %}
        <li>
          <strong>{{ field }}:</strong> {{ value }}
        </li>
      {% endfor %}
    </ul>
    <form action="{% url 'confirm_delete' model_name item_id %}" method="post">
      {% csrf_token %}
      <a href="{% url 'labdata_homepage' %}" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
{% endblock content %}
