{% extends "base.html" %}

{% load role_tags %}

{% block content %}
  <div class="container mt-4">
    <h1>Specimen Details</h1>
    <dl class="row mt-4">
      <dt class="col-sm-2">Specimen ID</dt>
      <dd class="col-sm-10">
        {{ specimen.specimen_id }}
      </dd>
      <dt class="col-sm-2">Organism</dt>
      <dd class="col-sm-10">
        {{ specimen.organism }}
      </dd>
      <dt class="col-sm-2">First Name</dt>
      <dd class="col-sm-10">
        {{ specimen.first_name }}
      </dd>
      <dt class="col-sm-2">Last Name</dt>
      <dd class="col-sm-10">
        {{ specimen.last_name }}
      </dd>
      <dt class="col-sm-2">Date of Birth</dt>
      <dd class="col-sm-10">
        {{ specimen.dob }}
      </dd>
      <dt class="col-sm-2">Cohort</dt>
      <dd class="col-sm-10">
        {{ specimen.cohort }}
      </dd>
      <!-- Add more fields as needed -->
    </dl>
    <!-- Navigation Buttons -->
    <div class="mt-3">
      <!-- Go back button -->
      <a href="{% url 'labdata_homepage' %}" class="btn btn-secondary">Back to List</a>
      {% if request.user|has_role:"PI" %}
        <!-- Edit button -->
        <a href="{% url 'update_specimen' specimen.id %}"
           class="btn btn-primary">Edit</a>
        <!-- Delete button -->
        <a href="{% url 'confirm_delete' 'specimen' specimen.id %}"
           class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
