{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  {{ user.username }}
{% endblock title %}
{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal"
        method="post"
        action="{% url 'users:update' %}">
    {% csrf_token %}
    {% if analyst_group in user.groups.all %}
      <hr />
      <h2>Analyst Details</h2>
      {{ analyst_form|crispy }}
    {% else %}
      {{ form|crispy }}
    {% endif %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock content %}
